@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right bottom, #feffff 0%,#FDB74F 30%,#FF8A00 100%);
    overflow-x: hidden;
  }

  body {
    background-color: transparent;
    margin: 0px;
    width: inherit;
    overflow-x: hidden;
  }

  #signOutButton, #signInButton, #signUpButton, #addRecipeButton {
    border-radius: 10px;
    // border: none;
    border-color: #47330B;
    background-color: #47330B;
    color: #FFB800;
    box-shadow: black;
    margin: 20px;
    padding: 15px;
    font-family: 'Lato', 'san-serif';
    font-size: 1vw;
    z-index: 10;
  }

  .screen-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .buttons-container {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    // background-color: blue;
    margin-bottom: 2vh;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 93%;
    // background-color: brown;
  }

  .main-container-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    // background-color: teal;
  }
  
  .main-container-left-row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    // background-color: red;
  }

  .main-container-left-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 3vw;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    // background-color: orange;
  }

  .main-container-left-row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    // background-color: yellow;
  }

  .main-container-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
    z-index: 1;
    // background-color: blue;
  }

  #logoPic, #food2Pic, #food1Pic {
    transform: scale(0.75)
  }

// SIGN IN/UP PAGES 

.editingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  h2 {
    text-align: center;
    width: 100%;
  }

  .signForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
  
    input {
      width: 20%;
      height: 30px;
      text-align: center;
      font-size: 1.5vw;
      margin: 10px;
    }
  }
  
  button {
    border-radius: 10px;
    border-color: #47330B;
    background: #47330B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFB800;
    width: 100px;
    height: 30px;
    font-size: 14px;
  }
}

// USER PAGE

.userpage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100vh;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: #750303;
  
  #logoSideBar {
    padding-bottom: 20vh;
    transform: scale(0.9);
  }

  a { // Navlink styling
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 10vh;
    justify-content: flex-end;
    color: transparent;
  }

  button {
    width: 90%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: white;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    text-align: left;
    transition-duration: .5s;
  }

  button:hover {
    font-size: 2.5vw;
    text-decoration: underline;
  }
}

.user-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 20%;
}

.searchBar {
  height: 4vh;
  width: 60%;
  margin-top: 10vh;
  margin-bottom: -7vh;

  input {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    // text-align: center;
  }

  input::placeholder {
    padding-left: 5px;
  }
}

.recipes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  width: 80%;
  height: 100%;
  background-color: transparent;
  margin-top: 10vh;
  border-radius: 1em;

}

.recipe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  min-height: 50vh;
  perspective: 1000px;
  border-radius: 1em;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;


  #recipeLink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    text-decoration: none;
  }

  #recipeRating {
    width: 100%;
  }

  h2 {
    text-align: center;
    color: brown;
    padding-top: 20%;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  h3 {
    width: 100%;
    text-align: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  h4 {
    width: 100%;
    align-self: flex-end;
  }
}

.recipe-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 1em;
}

.recipe-container:hover .recipe-container-inner {
  transform: rotateY(180deg);
}

.frontSide, .backSide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  backface-visibility: hidden;
  overflow: auto;
}

.backSide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // background-color: white;
  color: white;
  transform: rotateY(180deg);
}


// DetailedRecipe
#ingredients-directions {
  display: flex;
  flex-direction: row;

  div {
    flex: 1;
    div {
      margin: 10px 0px;
    }
  }
}

#categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  span {
    margin: 10px 8px;
  }
}

// CreateRecipe
.inputs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;

  .formTitle {
    font-family: 'Lato', sans-serif;
    font-size: 4vw;
    margin-top: 10vh;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    margin-top: 10vh;
    margin-left: 40%;

    label {
      width: 100%;
      padding-bottom: 5%;

      input {
        width: 40%;
        height: 80%;
      }

      textarea {
        width: 40%;
        height: 30vh;
      }
    }

    button {
      margin-bottom: 10vh;
      width: 30%;
    }
  }
}